<mat-toolbar color="primary" class="fixed-header">
  <mat-toolbar-row>
    <span>Meltsan</span>
    <!--<span><img src="../../../assets/img/logo.png"></span>-->
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>

    <!--<button mat-button [matMenuTriggerFor]="home">-->
      <!--<mat-icon>library_books</mat-icon>-->
      <!--<span>Home</span>-->
    <!--</button>-->


    <button mat-button [matMenuTriggerFor]="roles">
      <mat-icon>block</mat-icon>
      <span>Roles</span>
    </button>
    <mat-menu #roles="matMenu">
      <button mat-menu-item [routerLink]="['roles', 'roles-tables']">
        <mat-icon>cloud_upload</mat-icon>
        <span>Roles</span>
      </button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="help">
      <mat-icon>block</mat-icon>
      <span>Ayuda</span>
    </button>
    <mat-menu #help="matMenu">
      <button mat-menu-item [routerLink]="['help']">
        <mat-icon>cloud_upload</mat-icon>
        <span>Acerca de</span>
      </button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="user">
      <mat-icon>person</mat-icon>
      <span>Usuarios</span>
    </button>
    <mat-menu #user="matMenu">
      <button mat-menu-item [routerLink]="['user', 'user-tables']">
        <mat-icon>local_library</mat-icon>
        <span>Info de usuarios</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>arrow_forward</mat-icon>
        <span>Cerrar sesi&oacute;n</span>
      </button>
    </mat-menu>


  </mat-toolbar-row>
</mat-toolbar>

<br>
<br>
