<ion-header>
  <ion-toolbar [color] = "isRecording ? 'danger' : 'primary'">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="getPermission()" color="primary" expand="full">Permisos</ion-button>
    <ion-button (click)="startListening()" color="primary" expand="full">Start listening</ion-button>
    <ion-button (click)="stopListening()" color="primary" expand="full" *ngIf="isIos()">Stop listening</ion-button>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Lo que capto el microfono</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ record }}
      </ion-card-content>
    </ion-card>

</ion-content>